$def with (horsename, type, gender, feh, horses)

Hi. This program will help you to find out how much energy you horse need during one day.<br/>
Please fill out the form below. <br/>
<form method=POST>
	What is your horses name?
	<input type=text name=horsename> <br/>
	What is your horses hight - in cm?
	<input type=text name=hight> <br/>
	What is the type of your horse?
	<input type=text name=type> <br/>
	What is the gender of your horse?
	stallion, gelding or mare
	<input type=text name=gender> <br/>
	Training intensity:
	<select name=training>
		<option value="light">Light</option>
		<option value="medium">Medium</option>
		<option value ="hard">Hard</option>
		<option value="intense">Intense</option>
	</select><br>
	Do you have any more horses?
	<input type="radio" name="morehorses" value="yes">Yes
	<input type="radio" name="morehorses" value="no">No<br> <br/>
	
	What is your e-mail?
	<input type=text name=email> 
	<div style="color: red;">
	<i>If you have entered this before, you don't have to enter it again</i>
	</div>
	
	<br/>
	<input type=submit>
	<br/>
	$for horse in horses
		$horse.name is a $horse.type $horse.gender and therefore needs $horse.feh per day. <br/>
	
</form>
